input[type="submit"], input[type="reset"], input[type="button"], .formButton, button {
color:#000;
}
#slider {
list-style:none outside none;
margin:0;
overflow:hidden;
padding:0;
}
div#top-links div.login_links{
width: 420px;
padding:5px 10px 10px 10px;
}
div.login_links input[type="submit"] {
border:0 none;
color:#000;
cursor:pointer;
display:inline;
font-size:1em;
}