body {
padding:0;
margin:0;
font:12px Verdana,Geneva,sans-serif;
line-height:1.5em;
background:url("../images/bg-dark.jpg") repeat scroll 0 0 #3D3D3B;/*#393939;*/
color:#aaa;
}
table { width:100%; margin:5px 0; }
a {
color:#D0EB55;
text-decoration:none;
}
a:hover {
color:#FFBE00;
text-decoration:underline;
text-weight:bold;
}
p { margin:5px 0; }
h1 {
font:bold 1.8em Arial, Sans-Serif;
padding:8px 0 4px 0;
margin:0;
letter-spacing:-1px;
}
h2 {
font:bold 1.6em Arial, Sans-Serif;
letter-spacing:-1px;
}
h3 {
padding:4px 0;
margin:0;
}
ul {
margin:0;
padding:0;
list-style:none;
}
img { border:0; }
hr {
height:1px;
border-top:1px dashed silver;
border-bottom:1px solid silver;
height:4px;
margin:10px 0;
}
ol {
padding:0;
margin:0;
}
.wrapper{
margin:0 auto;
width:960px;
}
#logo {
float:left;
position:relative;
text-align:center;
width:300px;
}
#topbar {
height:35px;
background:#212121;
width:100%;
}
#topbar #icons {
float:right;
margin:10px 0 0;
padding:0;
}
#topbar #icons img {
padding-right:4px;
border:0;
}
#top {
padding-top:0;
height:70px;
margin-bottom:40px;
}
#top h1 {
font:bold 2.6em Arial, Sans-Serif;
padding:20px 0 0 0;
margin:0;
letter-spacing:1px;
color:#D0EB55;
}
#top a:hover { text-decoration:none; }
#top h2 {
font:0.9em Arial, Sans-Serif;
letter-spacing:0;
color:#868686;
margin:0;
padding:0;
}
#menu {
float:right;
height:40px;
margin-top:30px;
}
#menu a {
color:#fff;
background:inherit;
text-decoration:none;
padding-left:15px;
line-height:20px;
font-weight:bold;
}
#menu a span { padding-right:5px; }
#menu a, #menu a span {
display:block;
float:left;
}
#menu ul {
list-style:none;
padding:0;
margin:0;
}
#menu li {
float:left;
margin:7px 0 0 5px;
}
#main {
width:960px;
margin:0;
padding:10px 0;
-moz-border-radius:8px;
-khtml-border-radius:8px;
-webkit-border-radius:8px;
border-radius:8px;
-moz-box-shadow:10px 10px 30px rgba(0, 0, 0, 1);
-khtml-box-shadow:10px 10px 30px rgba(0, 0, 0, 1);
-webkit-box-shadow:10px 10px 30px rgba(0, 0, 0, 1);
box-shadow:10px 10px 30px rgba(0, 0, 0, 1);
border-color:#444 #000 #000 #444;
border-style:solid;
border-width:1px;
overflow:hidden;
}
#site-closed {
width:600px;
margin:100px auto;
padding:50px;
-moz-border-radius:8px;
-khtml-border-radius:8px;
-webkit-border-radius:8px;
border-radius:8px;
-moz-box-shadow:10px 10px 30px rgba(0, 0, 0, 1);
-khtml-box-shadow:10px 10px 30px rgba(0, 0, 0, 1);
-webkit-box-shadow:10px 10px 30px rgba(0, 0, 0, 1);
box-shadow:10px 10px 30px rgba(0, 0, 0, 1);
border-color:#444 #000 #000 #444;
border-style:solid;
border-width:1px;
overflow:hidden;
text-align:center;
}
#site-closed .content {
-moz-border-radius:8px;
-khtml-border-radius:8px;
-webkit-border-radius:8px;
border-radius:8px;
background:none repeat scroll 0 0 #1D1D1D;
border-color:#000 #444 #444 #000;
border-style:solid;
border-width:1px;
line-height:2em;
margin:15px auto;
padding:10px;
width:90%;
height:20%;
position:relative;
}
#logger {
width:960px;
margin:10px auto 35px auto;
-moz-border-radius:8px;
-khtml-border-radius:8px;
-webkit-border-radius:8px;
border-radius:8px;
border-color:#000 #444 #444 #000 ;
border-style:solid;
border-width:1px;
overflow:auto;
background:#1D1D1D;
}
#right_side {
float:right;
width:230px;
background:inherit;
overflow:hidden;
}
#right_side .pad {
padding:0 0 10px 17px;
}
#right_side p {
padding:0 0 5px 5px;
}
#right_side ul {
padding:3px 0 12px 5px;
}
#right_side li {
line-height:18px;
background:inherit;
list-style:square;
padding-left:0px;
margin-left:17px;
color:#b4e04a;
}
#right_side a {
background:inherit;
text-decoration:none;
}
#right_side a:hover {
text-decoration:underline;
}
#right_side h3 {
color:#eee;
font:bold 1.2em Arial, Sans-Serif;
background:url(../images/rmenuhead.gif) no-repeat top;
width:202px;
height:30px;
padding-top:7px;
text-indent:10px;
}
 #left_side {
float:right;
width:202px;
background:inherit;
overflow:hidden;
}
#left_side .pad {
padding:0 0 10px 17px;
}
#left_side p {
padding:0 0 5px 5px;
}
#left_side ul {
padding:3px 0 12px 5px;
}
#left_side li {
line-height:18px;
background:inherit;
list-style:square;
padding-left:0px;
margin-left:17px;
color:#b4e04a;
}
#left_side a {
background:inherit;
text-decoration:none;
}
#left_side a:hover {
text-decoration:underline;
}
#left_side h3 {
color:#eee;
font:bold 1.2em Arial, Sans-Serif;
background:url(../images/rmenuhead.gif) no-repeat top;
width:202px;
height:30px;
padding-top:7px;
text-indent:10px;
}
#center {
background:inherit;
margin:0 0 0 3px;
width:725px;
}
#center h2 {
background:inherit;
padding:0;
margin:0;
font:1.8em verdana, Arial, Sans-Serif;
}
#center .mpart h3 {
background:inherit;
padding:0;
margin:0 0 15px 0;
font:0.9em verdana, Arial, Sans-Serif;
color:#a5a5a5;
}
#center blockquote {
background:url("../images/quotes.png") no-repeat scroll 2px 2px;
padding-left:10px;
border-color:#a7cc44;
border-width:1px 1px 1px 6px;
border-style:dashed dashed dashed solid;
padding:0 5px 15px 25px;
}
#center ul {
list-style-position:inside;
margin-left:2px;
}
#center ul li {
list-style-type:square;
margin-left:15px;
}
#center ul ul li {
list-style:none;
margin-left:10px;
list-style-type:lower-alpha;
list-style-position:inside;
}
#footer {
clear:both;
margin:0 0 3em 0;
padding-top:20px;
color:#777;
background:inherit;
}
#footer .right { float:right; }
#footer a {
text-decoration:none;
background:inherit;
}
#menu-content{
position:relative;
height:45px;
width:650px;
padding:1px;
margin:0;
overflow:hidden;
-moz-border-radius:8px;
-khtml-border-radius:8px;
-webkit-border-radius:8px;
border-radius:8px;
border-color:#444 #000 #000 #444;
border-style:solid;
border-width:1px;
-moz-box-shadow:10px 10px 30px rgba(0, 0, 0, 1);
-khtml-box-shadow:10px 10px 30px rgba(0, 0, 0, 1);
-webkit-box-shadow:10px 10px 30px rgba(0, 0, 0, 1);
box-shadow:10px 10px 30px rgba(0, 0, 0, 1);
float:left;
}
#icons {
margin:7px; 
position:relative;
float:right;
z-index:100;
}
#icons a {
padding-left:5px;
}
/*==================Lava Lamp======================*/
.lavaLampNoImage { list-style:none; }
.lavaLampNoImage li.back {
background-color:#1D1D1D;
width:9px;
height:30px;
z-index:8;
position:absolute;
border-width:1px;
border-color:#000 #444 #444 #000;
border-style:solid;
-moz-border-radius:8px;
-khtml-border-radius:8px;
-webkit-border-radius:8px;
border-radius:8px;
}
.lavaLampNoImage li a {
font:bold 14px arial;
text-decoration:none;
color:#000;
outline:none;
text-align:center;
top:5px;
text-transform:uppercase;
letter-spacing:0;
z-index:10;
display:block;
float:left;
height:30px;
position:relative;
overflow:hidden;
margin:auto 10px;
}
.lavaLampNoImage li a:hover,
.lavaLampNoImage li a:active,
.lavaLampNoImage li a:visited { border:none; }
/*=====================Lava Lamp=========================*/
div#top-links{
width:960px;
margin:0 auto;
height:45px;
}
div#top-links div.login_links{
float:right;
height:23px;
text-align:center;
font-size:0.9em;
padding:10px;
color:#fc0;
-moz-border-radius:0 0 8px 8px;
-khtml-border-radius-bottomleft:8px;
-khtml-border-radius-bottomright:8px;
-webkit-border-bottom-left-radius:8px;
-webkit-border-bottom-right-radius:8px;
border-color:#444 #000 #000 #444;
border-style:solid;
border-width:1px;
border-radius:0 0 8px 8px;
overflow:hidden;
-moz-box-shadow:10px 10px 30px rgba(0, 0, 0, 1);
-khtml-box-shadow:10px 10px 30px rgba(0, 0, 0, 1);
-webkit-box-shadow:10px 10px 30px rgba(0, 0, 0, 1);
box-shadow:10px 10px 30px rgba(0, 0, 0, 1);
}
#wox-login-all{ min-width:280px; }
#wox-logged-all{ min-width:400px; }
div#top-links span.icons{
display:block;
float:right;
margin-left:5px;
margin-top:-1px;
}
div.login_links div.search  input[type="submit"]{
background:url("../images/pesquisar.png") no-repeat scroll 4px 4px #1d1d1d;
cursor:pointer;
float:right;
padding-top:4px;
border:0 none;
width:16px;
margin:0;
/* Border Radius */
-webkit-border-radius:0;
-moz-border-radius:0;
-khtml-border-radius:0;
border-radius:0;
/* Border Shadow */
-webkit-box-shadow:none;
-moz-box-shadow:none;
-khtml-box-shadow:none;
box-shadow:none;
}
div.login_links div.the_links{
float:right;
padding:4px 0 0 10px;
}
div.login_links input[type="submit"] {
border:0 none;
color:#D0EB55;
cursor:pointer;
display:inline;
font-size:1em;
/*margin-top:5px;*/
}
div.login_links input[type="submit"]:hover { text-decoration:underline; }
div.login_links div.search{
float:left;
border:1px solid;
border-color:#000 #444 #444 #000;
overflow:hidden;
background:#1D1D1D;
-moz-border-radius:8px;
-khtml-border-radius:8px;
-webkit-border-radius:8px;
border-radius:8px;
padding-right:8px;
width:160px;
}
#search-form { display:inline; }
div.login_links input[type='text'],
div.login_links input[type='password']{
border:0;
background:#1D1D1D;
width:130px;
/*padding:3px;*/
-moz-border-radius:8px;
-khtml-border-radius:8px;
-webkit-border-radius:8px;
border-radius:8px;
color:#666;
border-color:#000 #444 #444 #000;
border-style:solid;
border-width:1px;
}
div.search input[type='text']{
border:0;
background:#1D1D1D;
width:130px;
/*padding:3px;*/
-moz-border-radius:8px;
-khtml-border-radius:8px;
-webkit-border-radius:8px;
border-radius:8px;
color:#666;
}
/* ===== block main menu ===== */
#mainmenu {}
#mainmenu a {display:block;}
#mainmenu a:hover {}
#mainmenu a:active, #mainmenu a.current {}
#mainmenu a:visited {}
#mainmenu a.menuTop  {}
#mainmenu a.menuMain {}
#mainmenu a.menuSub{ 
background:url("../images/icons/arrow-curve.png") no-repeat scroll 0 5px transparent;
margin-left:15px;
padding-left:20px;
}
#mainmenu a.menuSub:hover  {}
#mainmenu a.maincurrent {}
/* ===== block user menu ===== */
#usermenu {}
#usermenu a {display:block;}
#usermenu a:hover  {}
#usermenu a:active, #usermenu a.current {}
#usermenu a:visited {}
#usermenu a.menuTop {}
#usermenu a.highlight {}
#go_top{
float:right;
position:relative;
right:10px;
}
#go_top a{ 
background:url("../images/icons/arrow-curve-090.png") no-repeat scroll left center transparent;
position:relative;
float:right; 
right:5px;
padding-left:15px;
 }
#right_side .blockTitle {
-moz-border-radius:8px ;
-khtml-border-radius:8px;
-webkit-border-radius:8px;
border-radius:8px;
background:url("../images/bg-dark.jpg") repeat scroll 0 0 #3D3D3B;
padding:5px 5px 5px 10px;
font-weight:bold;
border-color:#444 #000 #000 #444;
border-style:solid;
border-width:1px;
}
.block {
-moz-border-radius:8px;
-khtml-border-radius:8px;
-webkit-border-radius:8px;
border-radius:8px;
background:none repeat scroll 0 0 #1D1D1D;
border-color:#000 #444 #444 #000;
border-style:solid;
border-width:1px;
float:left;
line-height:2em;
margin:0 0 15px 0px;
padding:10px;
width:200px;
}
#content {
background:url("../images/bg-dark.jpg") repeat scroll 0 0 #3D3D3B;
-moz-border-radius:8px;
-khtml-border-radius:8px;
-webkit-border-radius:8px;
border-radius:8px;
-moz-box-shadow:2px 2px 5px rgba(0, 0, 0, 1);
-khtml-box-shadow:2px 2px 5px rgba(0, 0, 0, 1);
-webkit-box-shadow:2px 2px 5px rgba(0, 0, 0, 1);
box-shadow:2px 2px 5px rgba(0, 0, 0, 1);
border-color:#444 #000 #000 #444;
border-style:solid;
border-width:1px;
overflow:hidden;
margin:5px;
overflow:hidden;
padding:5px;
width:700px;
}
#centerCcolumn, #bottomCcolumn { width:720px; }
#centerCcolumn { margin:0 0 15px 0; }
#bottomCcolumn {
margin:0; 
float:left;
position:relative;
}
#centerLcolumn, #bottomLcolumn, #centerRcolumn, #bottomRcolumn { }
#centerLcolumn, #bottomLcolumn {
width:360px; 
float:left;
position:relative;
}
#centerRcolumn, #bottomRcolumn {
width:360px; 
float:left;
position:relative;
}
.blockTitle {
-moz-border-radius:8px 8px 0 0;
-khtml-border-radius:8px 8px 0 0;
-webkit-border-radius:8px 8px 0 0;
border-radius:8px 8px 0 0;
background:url("../images/bg-dark.jpg") repeat scroll 0 0 #3D3D3B;
padding:5px 5px 5px 10px;
font-weight:bold;
border-color:#444 #000 #000 #444;
border-style:solid;
border-width:1px;
}
.blockContent { padding:10px 15px; }
.blockCenter {
-moz-border-radius:8px;
-khtml-border-radius:8px;
-webkit-border-radius:8px;
border-radius:8px;
background:#1d1d1d;
border-color:#000 #444 #444 #000;
border-style:solid;
border-width:1px;
margin:0 5px 10px ;
}
.xoopsCode  {
width:100%;
z-index:50;
}
code  {
-moz-border-radius:8px 0 0 0;
-khtml-border-radius:8px 0 0 0;
-webkit-border-radius:8px 0 0 0;
border-radius:8px 0 0 0;
background:url("../images/code.gif") repeat scroll left top #FFFFFF;
border:1px solid #999;
color:#000;
display:block;
font-family:"Courier New",Courier,monospace;
font-size:13px;
line-height:18px;
margin:10px 0 20px;
overflow-x:scroll;
overflow-y:auto;
padding:0 15px;
position:relative;
width:520px;
z-index:50;
}
.errorMsg, .confirmMsg, .resultMsg, .successMsg {
border:2px solid #ddd;
font-size:1.1em;
margin-bottom:1em;
margin-top:1em;
padding:0.8em;
text-align:center;
}
.errorMsg {
background-color:#FBE3E4;
border-color:#FBC2C4;
color:#D12F19;
}
.confirmMsg {
background-color:#FFF6BF;
border-color:#FFD324;
color:#817134;
}
.successMsg {
background-color:#E6EFC2;
border-color:#C6D880;
color:#529214;
}
.resultMsg {
background-color:#E7F4F7;
border-color:#8EC0F9;
color:#1251C6;
}
.errorMsg a {
background-color:transparent;
color:#D12F19;
}
.confirmMsg a {
background-color:transparent;
color:#817134;
}
.successMsg a {
background-color:transparent;
color:#529214;
}
.resultMsg a {
background-color:transparent;
color:#1251C6;
}
acronym, abbr {
border-bottom:1px dashed #666;
cursor:help;
}
acronym:hover, abbr:hover {
border-bottom-color:#FFBE00;
}
#xo-logger-output {
margin:10px;
}
#content form {
background:none repeat scroll 0 0 transparent;
color:inherit;
margin:0;
}
.clear {
clear:both;
}
.slider_content { 
width:960px;
margin:40px auto 30px auto;
padding:0;
-moz-border-radius:8px;
-khtml-border-radius:8px;
-webkit-border-radius:8px;
border-radius:8px;
-moz-box-shadow:10px 10px 30px rgba(0, 0, 0, 1);
-khtml-box-shadow:10px 10px 30px rgba(0, 0, 0, 1);
-webkit-box-shadow:10px 10px 30px rgba(0, 0, 0, 1);
box-shadow:10px 10px 30px rgba(0, 0, 0, 1);
border-color:#444 #000 #000 #444;
border-style:solid;
border-width:1px;
overflow:hidden;
}
/********** slider **********/
.slider_bg { 
padding:10px 5px; 
height:231px;
-moz-border-radius:8px;
-khtml-border-radius:8px;
-webkit-border-radius:8px;
border-radius:8px;
background:#1d1d1d;
border-color:#000 #444 #444 #000;
border-style:solid;
border-width:1px;
overflow:hidden;
}
.header_left { position:relative; float:left; width:405px; height:231px }
.slider_t .small { height:50px;}
.title_text h2 { padding:2px 10px 0 40px; margin:0; color:#2a2a2a; font:normal 36px Arial, Helvetica, sans-serif;}
.title_text p { float:right; padding:6px 20px 0 10px; color:#2a2a2a; font:normal 11px Arial, Helvetica, sans-serif;}
/*simple text*/
#slider p.img { float:left; padding:0 5px 0 0; margin:5px; line-height:0;}
#slider p.img img { padding:0; margin:0; border:0;}
#slider h2 { font:bold 25px Arial, Helvetica, sans-serif; color:#2a2a2a; margin:0; padding:5px; /*line-height:1.2em;*/}
#slider p {font:normal 12px Arial, Helvetica, sans-serif; color:#5f5f5f; margin:0; padding:5px; /*line-height:1.8em;*/ position:relative;}
#slider div.button { float:right;  width:180px; position:relative; top:195px}
#slider div.button .right_but { margin:0;} 
#slider { margin:0; padding:0; list-style:none; }
#slider ul,
#slider li { margin:0; padding:0; list-style:none; }
/*
 define width and height of list item (slide)
 entire slider area will adjust according to the parameters provided here
*/
#slider li { width:530px; height:231px; overflow:hidden; }
p#controls { margin:0; position:relative; float:right; }
#prevBtn, #nextBtn {
display:block;
height:28px;
left:350px;
margin:0;
overflow:hidden;
position:absolute;
top:200px;
width:84px;
}
#nextBtn { left:435px; }
#prevBtn a {  display:block; width:85px; height:28px; }
#nextBtn a {  display:block; width:85px; height:28px; } 
.button a {
color:#fff;
background:rgba(0,0,0,0.2);
display:inline-block;
padding:0 0 0 1px;
outline:none;
text-decoration:none;
width:85px;
height:25px;
padding-top:5px;
text-align:center;
/* Border Radius */
-webkit-border-radius:15px;
-moz-border-radius:15px;
-khtml-border-radius:15px;
border-radius:15px;
/* Border Shadow */
-webkit-box-shadow:1px 2px 2px rgba(0,0,0,0.6);
-moz-box-shadow:1px 2px 2px rgba(0,0,0,0.6);
-khtml-box-shadow:1px 2px 2px rgba(0,0,0,0.6);
box-shadow:1px 2px 2px rgba(0,0,0,0.6);
}
/**********************************************/
.comUserImg { background:url("/../images/load.gif") no-repeat scroll right 30px transparent; }
tr.odd td {
border-color:#444 #000 #000 #444;
border-style:solid;
border-width:1px;
overflow:hidden; 
padding:5px;
background:#1d1d1d;
}
.odd, .oddb  {
padding:5px;
-moz-border-radius:8px;
-khtml-border-radius:8px;
-webkit-border-radius:8px;
border-radius:8px;
-moz-box-shadow:2px 2px 5px rgba(0, 0, 0, 1);
-khtml-box-shadow:2px 2px 5px rgba(0, 0, 0, 1);
-webkit-box-shadow:2px 2px 5px rgba(0, 0, 0, 1);
box-shadow:2px 2px 5px rgba(0, 0, 0, 1);
background:#1d1d1d;
border-color:#444 #000 #000 #444;
border-style:solid;
border-width:1px;
overflow:hidden;
}
tr.oddb td {
border-color:#444 #000 #000 #444;
border-style:solid;
border-width:1px;
overflow:hidden; 
padding:5px;
background:#1d1d1d;
}
.even {
-moz-border-radius:8px;
-khtml-border-radius:8px;
-webkit-border-radius:8px;
border-radius:8px;
background:none repeat scroll 0 0 #333;
border-color:#000 #444 #444 #000;
border-style:solid;
border-width:2px;
line-height:2em;
padding:5px;
}
.head, .foot, th {
-moz-border-radius:8px;
-khtml-border-radius:8px;
-webkit-border-radius:8px;
border-radius:8px;
-moz-box-shadow:2px 2px 5px rgba(0, 0, 0, 1);
-khtml-box-shadow:2px 2px 5px rgba(0, 0, 0, 1);
-webkit-box-shadow:2px 2px 5px rgba(0, 0, 0, 1);
box-shadow:2px 2px 5px rgba(0, 0, 0, 1);
background:url("../images/bg-dark.jpg") repeat scroll 0 0 #3D3D3B;
border-color:#444 #000 #000 #444;
border-style:solid;
border-width:1px;
overflow:hidden;
padding:5px;
}
caption {
font-style:normal;
font-weight:bold;
}
textarea { background:#333;
border-style:hidden;
color:#aaa;
padding:5px;
}
#switcher {
float:right;
position:relative;
display:block;
height:30px;
width:10px;
right:5px;
margin:1px 10px;
}
#switcher a {
-moz-box-shadow:1px 2px 2px rgba(0, 0, 0, 0.6);
-webkit-box-shadow:1px 2px 2px rgba(0, 0, 0, 0.6);
-khtml-box-shadow:1px 2px 2px rgba(0, 0, 0, 0.6);
box-shadow:1px 2px 2px rgba(0, 0, 0, 0.6);
-moz-border-radius:5px;
-webkit-border-radius:5px;
-khtml-border-radius:5px;
border-radius:5px;
display:block;
height:15px;
outline:medium none;
padding:1px;
margin:2px;
width:15px;
}
select { background:#1d1d1d; 
color:#AAA; 
border-color:#000 #444 #444 #000 ;
border-style:solid;
border-width:1px;
}
input[type="text"], input[type="password"] {
-moz-border-radius:8px;
-webkit-border-radius:8px;
-khtml-border-radius:8px;
border-radius:8px;
background:none repeat scroll 0 0 #1D1D1D;
border:0 none;
color:#aaa;
padding:3px;
border-color:#000 #444 #444 #000 ;
border-style:solid;
border-width:1px;
}
input[type="submit"], input[type="reset"], input[type="button"], .formButton, button { 
color:#fff;
background:rgba(0,0,0,0.4);
display:inline-block;
padding:3px 10px;
margin:5px;
outline:none;
text-decoration:none;
text-align:center;
border-style:none;
/* Border Radius */
-webkit-border-radius:15px;
-moz-border-radius:15px;
-khtml-border-radius:15px;
border-radius:15px;
/* Border Shadow */
-webkit-box-shadow:1px 2px 2px rgba(0,0,0,1);
-moz-box-shadow:1px 2px 2px rgba(0,0,0,1);
-khtml-box-shadow:1px 2px 2px rgba(0,0,0,1);
box-shadow:1px 2px 2px rgba(0,0,0,1);
}
#switcher .dark { background:#1d1d1d; }
#switcher .light { background:#666; }

.profile-list-category table { width: 95%; margin: 10px 5px;}