<a id="forumpost<{$topic_post.post_id}>"></a>
<div class="post_title<{if $pi==1}> post_title_top<{/if}>">
	<span><a href="<{$xoops_url}>/modules/<{$xoops_dirname}>/viewtopic.php?post_id=<{$topic_post.post_id}>#forumpost<{$topic_post.post_id}>">#<{$topic_post.post_no}></a></span>
	<small><{$smarty.const._MD_POSTEDON}><{$topic_post.post_date}></small>
	<{$topic_post.post_title}>
</div>
<div class="forum_post_item" id="post-<{$topic_post.post_id}>">
	<div class="post_bg">
		<div class="post_text" id="post-text-<{$topic_post.post_id}>">
			<{$topic_post.post_text}>
			<{if $topic_post.post_attachment}>
			<div class="post_attach"><{$topic_post.post_attachment}></div>
			<{/if}>
			<br clear="all" /><br />
			<div class="post_options">
			<{if $mode gt 1}>
				<a href="<{$xoops_url}>/modules/<{$xoops_dirname}>/action.post.php?post_id=<{$topic_post.post_id}>&amp;op=split&amp;mode=1" target="_self" title="<{$smarty.const._MD_SPLIT_ONE}>"><{$smarty.const._MD_SPLIT_ONE}></a> | 
				<a href="<{$xoops_url}>/modules/<{$xoops_dirname}>/action.post.php?post_id=<{$topic_post.post_id}>&amp;op=split&amp;mode=2" target="_self" title="<{$smarty.const._MD_SPLIT_TREE}>"><{$smarty.const._MD_SPLIT_TREE}></a> | 
				<a href="<{$xoops_url}>/modules/<{$xoops_dirname}>/action.post.php?post_id=<{$topic_post.post_id}>&amp;op=split&amp;mode=3" target="_self" title="<{$smarty.const._MD_SPLIT_ALL}>"><{$smarty.const._MD_SPLIT_ALL}></a> | 
				<input type="checkbox" name="post_id[]" id="post_id[<{$topic_post.post_id}>]" value="<{$topic_post.post_id}>" />
		    <{else}>
    			<{foreach item=btn from=$topic_post.thread_buttons}> <a href="<{$btn.link}>&amp;post_id=<{$topic_post.post_id}>" title="<{$btn.name}>"><{$btn.name}></a> |<{/foreach}>
		    <{/if}>
		    <a href="#threadtop" title="<{$smarty.const._MD_UP}>">Top</a>
		    </div>
			<{if $topic_post.poster_ip}>
				<div class="post_ip">
					IP: <a href="http://www.whois.sc/<{$topic_post.poster_ip}>" target="_blank"><{$topic_post.poster_ip}></a>
				</div>
			<{/if}>
			<br clear="all" />
			<{if $topic_post.post_edit}>
			<div style="float: right; padding: 5px; margin-top: 10px;"><small><{$topic_post.post_edit}></small></div>
			<{/if}>
			
			<{if $topic_post.post_signature}>
			    <div class="post_signature">
				<hr />
				<{$topic_post.post_signature}>
				</div>
			<{/if}>
		</div>
		<div class="post_data" id="post-data-<{$topic_post.post_id}>">
			<{if $woxConfig.avatar_forum}>
				<a href="<{$xoops_url}>/userinfo.php?uid=<{$topic_post.poster.uid}>"><img class="avatar" src="http://www.gravatar.com/avatar/<{$topic_post.poster.email}>?s=50" /></a>
			<{else}>
				<a href="<{$xoops_url}>/userinfo.php?uid=<{$topic_post.poster.uid}>"><img class="avatar" src="<{if $topic_post.poster.avatar=='blank.gif'}><{$xoops_imageurl}>images/unknow.png<{else}><{$xoops_upload_url}>/<{$topic_post.poster.avatar}><{/if}>" /></a>
			<{/if}>
			<{$topic_post.poster.link}><br />
			<{$topic_post.poster.rank.title}><br /><{$topic_post.poster.rank.image}>
			<div id="other-data-<{$topic_post.post_id}>" class="other_data">
				<{if $topic_post.poster.uid != 0}>
  				
  				
  				<div class="comUserStat"><span class="comUserStatCaption"><{$smarty.const._MD_JOINED}>:</span><br /><{$topic_post.poster.regdate}></div>
  				<{if $topic_post.poster.from}>
  				<div class="comUserStat"><span class="comUserStatCaption"><{$smarty.const._MD_FROM}></span> <{$topic_post.poster.from}></div>
  				<{/if}>
				<{if $topic_post.poster.groups}>
  				<div class="comUserStat"> <span class="comUserStatCaption"><{$smarty.const._MD_GROUP}></span>
  				<{foreach item=group from=$topic_post.poster.groups}> <br /><{$group}><{/foreach}>
  				</div>
				<{/if}>
  				<div class="comUserStat"><span class="comUserStatCaption"><{$smarty.const._MD_POSTS}>:</span> 
  				<{if $topic_post.poster.posts gt 0}>
  				<a href="<{$xoops_url}>/modules/<{$xoops_dirname}>/viewpost.php?uid=<{$topic_post.poster.uid}>" title="<{$smarty.const._ALL}>" target="_self"><{$topic_post.poster.posts}></a>
  				<{else}>
  				0
  				<{/if}>
  				</div>
  				<{if $topic_post.poster.level}>
  				<div class="comUserStat"><{$topic_post.poster.level}></div>
  				<{/if}>
  				<{if $topic_post.poster.status}>
  				<div class="comUserStatus"><{$topic_post.poster.status}></div>
  				<{/if}>
				<{else}>
   				<div class="comUserRankText"><{$anonymous_prefix}><{$topic_post.poster.name}></div>
				<{/if}>
			</div>
			<a href="javascript:;" class="show_more" rel="other-data-<{$topic_post.post_id}>">(Show More)</a>
			<a href="javascript:;" class="show_less" rel="other-data-<{$topic_post.post_id}>">(Show Less)</a>
		</div>
	</div>
</div>