<div class="compact_container"><a id="forumpost<{$topic_post.post_id}>"></a>
	<div class="post_head">
		<a class="number" href="<{$xoops_url}>/modules/<{$xoops_dirname}>/viewtopic.php?post_id=<{$topic_post.post_id}>#forumpost<{$topic_post.post_id}>">#<{$topic_post.post_no}></a> 
		<strong><{$topic_post.post_title}></strong>
		<span class="data"><{$topic_post.poster.link}>
		<{if $topic_post.poster_ip}>
			IP: <a href="http://www.whois.sc/<{$topic_post.poster_ip}>" target="_blank"><{$topic_post.poster_ip}></a>
		<{/if}> 
		<{$smarty.const._MD_POSTEDON}> <{$topic_post.post_date}></span>
	</div>

	<div class="post_text">
		<{$topic_post.post_text}>
		<{if $topic_post.post_attachment}>
			<div class="attachment" style="padding:5px;"><{$topic_post.post_attachment}></div>
		<{/if}>
	</div>

	<div class="post_foot">
	<{foreach item=btn from=$topic_post.thread_buttons}> <a href="<{$btn.link}>&amp;post_id=<{$topic_post.post_id}>" title="<{$btn.name}>"> <{$btn.image}></a> <{/foreach}>
	<a href="#threadtop" title="<{$smarty.const._MD_UP}>"> <{$p_up}></a>
	</div>

</div>