<script type="text/javascript" src="<{$xoops_imageurl}>js/forums.js"></script>
<div id="cbb_location">
<img src="<{$xoops_imageurl}>images/forum_location.png" alt="" />
<a href="<{$xoops_url}>/modules/<{$xoops_dirname}>/index.php">Forum Index</a>
&raquo;
<a href="<{$xoops_url}>/modules/<{$xoops_dirname}>/index.php?cat=<{$category.id}>"><{$category.title}></a>
<{if $parentforum}>
&raquo; <a href="<{$xoops_url}>/modules/<{$xoops_dirname}>/viewforum.php?forum=<{$parentforum.id}>"><{$parentforum.name}></a>
&raquo; <a href="<{$xoops_url}>/modules/<{$xoops_dirname}>/viewforum.php?forum=<{$forum_id}>"><{$forum_name}></a>
<{else}>
&raquo; <a href="<{$xoops_url}>/modules/<{$xoops_dirname}>/viewforum.php?forum=<{$forum_id}>"><{$forum_name}></a> <{$forum_topictype}>
<{/if}>
&raquo; <strong><{$topic_title}></strong> <{if $topictype}><{$topictype}><{/if}>
</div>

<br />

<{if $online}>
<div style="padding: 5px;">
<{$smarty.const._MD_BROWSING}>&nbsp;
<{foreach item=user from=$online.users}>
	<a href="<{$user.link}>">
		<{if $user.color}>
		<span style="color:<{$user.color}>"><{$user.uname}></span>
		<{else}>
		<{$user.uname}>
		<{/if}>
	</a>&nbsp;
<{/foreach}>
<{if $online.num_anonymous}>&nbsp;<{$online.num_anonymous}> <{$smarty.const._MD_ANONYMOUS_USERS}>
<{/if}>
</div>
<br />
<{/if}>

<{if $topic_poll}>
<{if $topic_pollresult}> <{include file="db:newbb_poll_results.html" poll=$poll}>
<{else}> <{include file="db:newbb_poll_view.html" poll=$poll}> <{/if}>
<{/if}>

<br />

<div style="overflow: hidden; margin-bottom: 10px;">
<span style="float: right; text-align:right;">
<{$forum_reply}><{$forum_addpoll}>&nbsp;<{$forum_post_or_register}>
</span>
<span class="topis_navigation">
<a id="threadtop"></a><{$down2}>&nbsp;<a href="#threadbottom"><{$smarty.const._MD_BOTTOM}></a>&nbsp;&nbsp;<{$left}>&nbsp;<a href="viewtopic.php?viewmode=flat&amp;order=<{$order_current}>&amp;topic_id=<{$topic_id}>&amp;forum=<{$forum_id}>&amp;move=prev"><{$smarty.const._MD_PREVTOPIC}></a>&nbsp;&nbsp;<{$right}>&nbsp;<a href="viewtopic.php?viewmode=flat&amp;order=<{$order_current}>&amp;topic_id=<{$topic_id}>&amp;forum=<{$forum_id}>&amp;move=next"><{$smarty.const._MD_NEXTTOPIC}></a>
</span>
</div>
<div class="clear"></div>

<br />

<div>
<div class="wox_cbb_options border_bottom">
	<{if $rating_enable}>
	<select
		name="rate" id="rate"
		class="menu"
		onchange="if(this.options[this.selectedIndex].value.length >0 )	{ window.document.location=this.options[this.selectedIndex].value;}"
	>
		<option value=""><{$smarty.const._MD_RATE}></option>
		<option value="ratethread.php?topic_id=<{$topic_id}>&amp;forum=<{$forum_id}>&amp;rate=5"><{$smarty.const._MD_RATE5}></option>
		<option value="ratethread.php?topic_id=<{$topic_id}>&amp;forum=<{$forum_id}>&amp;rate=4"><{$smarty.const._MD_RATE4}></option>
		<option value="ratethread.php?topic_id=<{$topic_id}>&amp;forum=<{$forum_id}>&amp;rate=3"><{$smarty.const._MD_RATE3}></option>
		<option value="ratethread.php?topic_id=<{$topic_id}>&amp;forum=<{$forum_id}>&amp;rate=2"><{$smarty.const._MD_RATE2}></option>
		<option value="ratethread.php?topic_id=<{$topic_id}>&amp;forum=<{$forum_id}>&amp;rate=1"><{$smarty.const._MD_RATE1}></option>
	</select>
	<{/if}>

	<select
		name="viewmode" id="viewmode"
		class="menu"	onchange="if(this.options[this.selectedIndex].value.length >0 )	{ window.location=this.options[this.selectedIndex].value;}"
	>
		<option value=""><{$smarty.const._MD_VIEWMODE}></option>
		<{foreach item=act from=$viewmode_options}>
		<option value="<{$act.link}>"><{$act.title}></option>
		<{/foreach}>
	</select>
</div>
<div class="pages_nav"><{$forum_page_nav|replace:"(":''|replace:")":""}></div>
</div>
<div class="clear"></div>
<br />

<{assign var="pi" value=1}>
<div id="the_topic_posts">
<{foreach item=topic_post from=$topic_posts}>
<{if $viewmode_compact}>
<{include file="$newbb_template_path/newbb_item.html" topic_post=$topic_post}>
<{else}>
<{xthemes_process action="get_config" theme="wox"}>
<{include file="wox/modules/newbb/newbb_thread.html" topic_post=$topic_post}>
<{/if}>
<br />
<{assign var="pi" value=$pi+1}>
<{/foreach}>
</div>
<div class="clear"></div>

<!-- start topic tree -->
<table class="outer" cellspacing="1" width="100%">
  <tr align="left">
    <th width="50%"><{$smarty.const._MD_SUBJECT}></th>
    <th width="20%"><{$smarty.const._MD_POSTER}></th>
    <th><{$smarty.const._MD_DATE}></th>
  </tr>
<{foreach item=topic_tree from=$topic_trees}>
  <tr class="<{cycle values="even,odd"}>">
    <td><{$topic_tree.post_prefix}> <{$topic_tree.post_image}> <{$topic_tree.post_title}></td>
    <td><{$topic_tree.poster}></td>
    <td><{$topic_tree.post_time}></td>
  </tr>
<{/foreach}>
</table>
<!-- end topic tree -->

<br />

<div style="overflow: hidden; margin-bottom: 10px;">
<span style="float: right; text-align:right;">
<{$forum_reply}><{$forum_addpoll}>&nbsp;<{$forum_post_or_register}>
</span>
<span class="topis_navigation">
<a id="threadtop"></a><{$down2}>&nbsp;<a href="#threadbottom"><{$smarty.const._MD_BOTTOM}></a>&nbsp;&nbsp;<{$left}>&nbsp;<a href="viewtopic.php?viewmode=flat&amp;order=<{$order_current}>&amp;topic_id=<{$topic_id}>&amp;forum=<{$forum_id}>&amp;move=prev"><{$smarty.const._MD_PREVTOPIC}></a>&nbsp;&nbsp;<{$right}>&nbsp;<a href="viewtopic.php?viewmode=flat&amp;order=<{$order_current}>&amp;topic_id=<{$topic_id}>&amp;forum=<{$forum_id}>&amp;move=next"><{$smarty.const._MD_NEXTTOPIC}></a>
</span>
</div>

<div class="clear"></div>

<br />
<br />

<{if $quickreply.show}>
<div>
<a href="#threadbottom" onclick="ToggleBlock('qr', this)"> <{$quickreply.icon}></a>
</div>
<br />
<div id="qr" style="display: <{$quickreply.display}>">
<div><{$quickreply.form}></div>
</div>
<br />
<br />
<{/if}>

<div>
<div style="float: left; text-align: left;">
<{foreach item=perm from=$permission_table}>
<div><{$perm}></div>
<{/foreach}>
</div>
<div style="float: right; text-align: right;">
<form action="search.php" method="get">
<input name="term" id="term" type="text" size="15" />
<input type="hidden" name="forum" id="forum" value="<{$forum_id}>" />
<input type="hidden" name="sortby" id="sortby" value="p.post_time desc" />
<input type="hidden" name="since" id="since" value="<{$forum_since}>" />
<input type="hidden" name="action" id="action" value="yes" />
<input type="hidden" name="searchin" id="searchin" value="both" />
<input type="submit" class="formButton" value="<{$smarty.const._MD_SEARCH}>" /><br />
[<a href="<{$xoops_url}>/modules/<{$xoops_dirname}>/search.php"><{$smarty.const._MD_ADVSEARCH}></a>]
</form><br />
<{$forum_jumpbox}>
</div>
</div>
<div class="clear"></div>

<br />

<{include file='db:system_notification_select.html'}>