<{xthemes_process action="run_method" method="is_home"}>
<{if $is_home}>
	<table class="outer" cellspacing="1">
		<{foreach item=topic from=$block.topics}>
		  <tr class="<{cycle values="even,odd"}>">
		    <td width="140" class="forum_title"><a href="<{$xoops_url}>/modules/newbb/viewforum.php?forum=<{$topic.forum_id}>"><{$topic.forum_name}></a></td>
		    <td><a class="post_title" href="<{$xoops_url}>/modules/newbb/viewtopic.php?topic_id=<{$topic.id}>&amp;forum=<{$topic.forum_id}>&amp;post_id=<{$topic.post_id}>#forumpost<{$topic.post_id}>">
				<{if $topic.topic_subject}>
				<{$topic.topic_subject}>
				<{/if}>
				<{$topic.title}></a><{$topic.topic_page_jump}>
				<span class="post_info">
					Replies: <strong><{$topic.replies}></strong> |
					Views: <strong><{$topic.views}></strong><br />
					Last post by <{$topic.topic_poster}> <strong><{$topic.time}></strong>
				</span>
			</td>
		    <td align="center"></td>
		    <td align="center"></td>
		    <td align="right"><br /></td>
		  </tr>
		  <{/foreach}>
	</table>
<{else}>
<table class="outer" cellspacing="1">

  <{if $block.disp_mode == 0}>
  <tr>
    <th class="head" nowrap="nowrap"><{$smarty.const._MB_NEWBB_FORUM}></th>
    <th class="head" nowrap="nowrap"><{$smarty.const._MB_NEWBB_TOPIC}></th>
    <th class="head" align="center" nowrap="nowrap"><{$smarty.const._MB_NEWBB_RPLS}></th>
    <th class="head" align="center" nowrap="nowrap"><{$smarty.const._MB_NEWBB_VIEWS}></th>
    <th class="head" align="center" nowrap="nowrap"><{$smarty.const._MB_NEWBB_LPOST}></th>
  </tr>

  <{foreach item=topic from=$block.topics}>
  <tr class="<{cycle values="even,odd"}>">
    <td><a href="<{$xoops_url}>/modules/newbb/viewforum.php?forum=<{$topic.forum_id}>"><{$topic.forum_name}></a></td>
    <td><a href="<{$xoops_url}>/modules/newbb/viewtopic.php?topic_id=<{$topic.id}>&amp;forum=<{$topic.forum_id}>&amp;post_id=<{$topic.post_id}>#forumpost<{$topic.post_id}>">
		<{if $topic.topic_subject}>
		<{$topic.topic_subject}>
		<{/if}>
		<{$topic.title}></a><{$topic.topic_page_jump}></td>
    <td align="center"><{$topic.replies}></td>
    <td align="center"><{$topic.views}></td>
    <td align="right"><{$topic.time}><br /><{$topic.topic_poster}></td>
  </tr>
  <{/foreach}>

  <{elseif $block.disp_mode == 1}>

  <tr>
    <th class="head" nowrap="nowrap"><{$smarty.const._MB_NEWBB_TOPIC}></th>
    <th class="head" align="center" nowrap="nowrap"><{$smarty.const._MB_NEWBB_RPLS}></th>
    <th class="head" align="center" nowrap="nowrap"><{$smarty.const._MB_NEWBB_LPOST}></th>
  </tr>

  <{foreach item=topic from=$block.topics}>
  <tr class="<{cycle values="even,odd"}>">
    <td><a href="<{$xoops_url}>/modules/newbb/viewtopic.php?topic_id=<{$topic.id}>&amp;forum=<{$topic.forum_id}>&amp;post_id=<{$topic.post_id}>#forumpost<{$topic.post_id}>"><{$topic.title}></a></td>
    <td align="center"><{$topic.replies}></td>
    <td align="right"><{$topic.time}><br /><{$topic.topic_poster}></td>
  </tr>
  <{/foreach}>

  <{elseif $block.disp_mode == 2}>

  <{foreach item=topic from=$block.topics}>
  <tr class="<{cycle values="even,odd"}>">
    <td><a href="<{$xoops_url}>/modules/newbb/viewtopic.php?topic_id=<{$topic.id}>&amp;forum=<{$topic.forum_id}>&amp;post_id=<{$topic.post_id}>#forumpost<{$topic.post_id}>"><{$topic.title}></a></td>
  </tr>
  <{/foreach}>

  <{/if}>

</table>

<{if $block.indexNav}>
<div style="text-align:right; padding: 5px;">
<a href="<{$xoops_url}>/modules/newbb/viewpost.php"><{$smarty.const._MB_NEWBB_ALLPOSTS}></a> |
<a href="<{$xoops_url}>/modules/newbb/viewall.php"><{$smarty.const._MB_NEWBB_ALLTOPICS}></a> |
<a href="<{$xoops_url}>/modules/newbb/"><{$smarty.const._MB_NEWBB_VSTFRMS}></a>
</div>
<{/if}>
<{/if}>