<div class="slider_content">
    <div class="slider_bg">
	<div class="header_left">
            <div class="xoops_title">
            	<span>XOOPS.</span> Powered by You!
            </div>
            <span class="descriptions">
            	easy to use dynamic web content management system written in PHP
            </span>
            <a href="http://www.xoops.org/modules/core" class="getnow"><span>Get it Now!</span></a>
            <a href="http://www.xoops.org/modules/wfchannel" class="overview"><span>Quick Overview</span></a>
	</div>
        <div id="slider" class="odd" style="width: 530px; height: 231px; overflow: hidden; float:right;">
          <ul style="width: 2892px; margin-left: 0px;">
            <li style="float: left;">
              <p class="img"><a href="#"><img width="220" height="220" alt="screen 1" src="<{xoImgUrl images/slideshow/theme1.jpg}>"></a></p>
              <div class="button"><span class="right_but"><a href="#">Anterior</a><a href="#">Proximo</a></span></div>
              <h2>TEMAS</h2>
              <p>Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
            </li>
            <li style="float: left;">
              <p class="img"><img width="220" height="220" alt="screen 2" src="<{xoImgUrl images/slideshow/theme2.jpg}>"></p>
              <div class="button"><span class="right_but"><a href="#">Anterior</a><a href="#">Proximo</a></span></div>
              <h2>MODULOS</h2>
              <p>Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
            </li>
            <li style="float: left;">
              <p class="img"><img width="220" height="220" alt="screen 3" src="<{xoImgUrl images/slideshow/theme3.jpg}>"></p>
              <div class="button"><span class="right_but"><a href="#">Anterior</a><a href="#">Proximo</a></span></div>
              <h2>TUTORIAIS</h2>
              <p>Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
            </li>
          </ul>
        </div>
    </div>
  </div>